---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here is my Astro stuff</p>
  <ul>
    {allPosts.map(post => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
