---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "My Astro Site";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>My Awesome Blog Site</h1>
</BaseLayout>
