---
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "My Astro Site";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>My Awesome Blog Site</h1>
  <Greeting
    client:load
    messages={["ਸਤਿ ਸ਼੍ਰੀ ਅਕਾਲ", "ਵਾਹਿਗੁਰੂ ਜੀ ਕਾ ਖਾਲਸਾ ਵਾਹਿਗੁਰੂ ਜੀ ਕੀ ਫ਼ਤਿਹ", "Hello"]}
  />
</BaseLayout>
